@import "_common";

main{margin-top: 100px;

.adopt-animal{
    h2{color: $font-colorg1;
        font-size: 50px;
        margin: 0 auto;
        text-align: center;
    }
    p{color: $font-colorg2; 
        font-size: 25px;
        text-align: center;
    }

}

}