@charset "UTF-8";
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-5Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-6Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UhBeeZZIBA-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/UhBeeZZIBA-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

html,
body {
  font-size: 14px;
  margin: 0 auto;
  width: 100%;
}

ul,
li,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #444;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
header .hd {
  padding: 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFEAB5;
}
header .hd h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
}
header .hd h2 a {
  display: inline-block;
  font-size: 0;
  width: 200px;
  height: 30px;
  background: url("../img/logo/bewithme_logo_b.png") 0% 0%/cover no-repeat;
}
header .hd nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hd nav .sub-nav {
  display: flex;
}
header .hd nav .sub-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hd nav .sub-nav ul li a:nth-of-type(1) {
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  padding: 0 70px;
}
header .hd nav .sub-nav ul li a:nth-of-type(2) {
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  padding: 0 70px;
}
header .hd nav .sub-nav ul li a:nth-of-type(3) {
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  padding: 0 70px;
}
header .hd nav .sub-nav ul li a:nth-of-type(4) {
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  padding: 0 70px;
}
header .hd nav .sub-nav ul li .sub-burger {
  display: none;
  margin-top: 40px;
}
header .hd nav .sub-nav ul li .sub-burger ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .hd nav .sub-nav ul li .sub-burger ul li a:nth-of-type(1) {
  margin-top: 30px;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  color: #746454;
}
header .hd nav .sub-nav ul li .sub-burger ul li a:nth-of-type(2) {
  margin-top: 30px;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  color: #746454;
}
header .hd nav .sub-nav ul li .sub-burger ul li a:nth-of-type(3) {
  margin-top: 30px;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  color: #746454;
}
header .hd nav .sub-nav ul li .sub-burger ul li a:nth-of-type(4) {
  margin-top: 30px;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  color: #746454;
}
header .hd .small-nav a:nth-of-type(1) {
  font-family: "S-CoreDream-3Light";
}
header .hd .small-nav a:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  border-left: 1px solid #444;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
header .hd .small-nav a:nth-of-type(2) {
  font-family: "S-CoreDream-3Light";
}
header .hd .small-nav a:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  border-left: 1px solid #444;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
header a:hover {
  color: #FC9803;
}

footer {
  padding: 30px 50px;
  background-color: #FFDD85;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .logobox h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
}
footer .logobox h2 a {
  display: inline-block;
  font-size: 0;
  width: 200px;
  height: 30px;
  background: url("../img/logo/bewithme_logo_b.png") 0% 0%/cover no-repeat;
}
footer .hd-nav ul {
  display: flex;
  justify-content: space-between;
}
footer .hd-nav ul li {
  text-align: center;
}
footer .hd-nav ul li a {
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  padding: 0 70px;
}
footer .hd-nav ul li div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
footer .hd-nav ul li div a {
  font-size: 1.5rem;
  font-family: "S-CoreDream-5Medium";
  padding: 0 70px;
  color: #746454;
  margin: 10px 0;
}
footer .copy {
  width: 100%;
}
footer a:hover {
  color: #FC9803;
}
footer ul li div a:hover {
  color: #FC9803;
}

main {
  margin: 100px auto;
}
main .slide ul li {
  position: relative;
  width: 100%;
}
main .slide ul li p {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: top;
}
main .slide ul li p img {
  width: 100%;
  opacity: 0.6;
  vertical-align: top;
}
main .slide ul li .slide-txt {
  position: absolute;
  left: 40%;
  top: 30%;
  text-align: center;
}
main .slide ul li .slide-txt h2 {
  font-family: "S-CoreDream-5Medium";
  font-size: 2rem;
  white-space: pre-line;
}
main .slide ul li .slide-txt a {
  font-family: "S-CoreDream-3Light";
  font-size: 1.5rem;
  color: #D9D9D9;
}
main .slide ul li .slide-txt a::before {
  content: "";
  display: block;
  width: 40%;
  margin: 0 auto;
  border-top: 1px solid #D9D9D9;
  padding-top: 10px;
}
main .slide ul li .slide-txt a::after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f054";
  margin: 0;
  padding-left: 20px;
}
main .adopt {
  margin: 200px;
}
main .find {
  background-color: #FFF3DB;
  text-align: center;
}
main .find .find-txt h2 {
  font-family: "S-CoreDream-6Bold";
  padding: 0;
  margin: 0px;
  color: #FC9803;
  font-size: 2.5rem;
}
main .find .find-txt p {
  font-family: "S-CoreDream-4Regular";
  padding: 0;
  margin: 0;
  margin-top: 10px;
  color: #AA6600;
  font-size: 1.3rem;
}
main .find .find-txt p::before {
  content: "";
  display: block;
  width: 5%;
  margin: 0 auto;
  border-top: 1px solid #AA6600;
  padding-top: 10px;
}
main .find .dog-find {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 100px;
}
main .find .dog-find ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
}
main .find .dog-find ul li {
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFDD85;
}
main .find .dog-find ul li p {
  width: 100%;
  height: 30vh;
  /* vw로 사용하세요 브라우저크기라 잘 생각해서! */
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  overflow: hidden;
}
main .find .dog-find ul li p img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}
main .find .dog-find ul li .li-txt p {
  font-family: "S-CoreDream-4Regular";
  font-size: 1.5rem;
}
main .find .dog-find .findA-txt h3 {
  font-family: "S-CoreDream-3Light";
  font-size: 2.15rem;
  white-space: pre-line;
  text-align: right;
  color: #444;
}
main .find .dog-find .findA-txt h3 span {
  font-family: "S-CoreDream-5Medium";
  font-size: 2.3rem;
  padding-right: 5px;
  color: #AA6600;
}
main .find .dog-find .findA-txt a {
  display: inline-block;
  font-family: "S-CoreDream-6Bold";
  font-size: 1.75rem;
  text-align: right;
  color: #444;
}
main .find .dog-find .findA-txt a::after {
  font-family: "FontAwesome";
  content: "+";
  margin: 0;
  padding-left: 20px;
  color: #FC9803;
}
main .find .cat-find {
  margin-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
main .find .cat-find .findB-txt h3 {
  font-family: "S-CoreDream-3Light";
  font-size: 2.15rem;
  white-space: pre-line;
  text-align: left;
  color: #444;
}
main .find .cat-find .findB-txt h3 span {
  font-family: "S-CoreDream-5Medium";
  font-size: 2.3rem;
  padding-right: 5px;
  color: #AA6600;
}
main .find .cat-find .findB-txt a {
  display: inline-block;
  font-family: "S-CoreDream-6Bold";
  font-size: 1.75rem;
  text-align: left;
  color: #444;
}
main .find .cat-find .findB-txt a::after {
  font-family: "FontAwesome";
  content: "+";
  margin: 0;
  padding-left: 20px;
  color: #FC9803;
}
main .find .cat-find ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
}
main .find .cat-find ul li {
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFDD85;
}
main .find .cat-find ul li p {
  width: 100%;
  height: 30vh;
  /* vw로 사용하세요 브라우저크기라 잘 생각해서! */
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  overflow: hidden;
}
main .find .cat-find ul li p img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}
main .find .cat-find ul li .li-txt p {
  font-family: "S-CoreDream-4Regular";
  font-size: 1.5rem;
}
main .family {
  margin-top: 150px;
}
main .family hgroup {
  text-align: center;
}
main .family hgroup h2 {
  font-family: "S-CoreDream-6Bold";
  color: #FC9803;
  font-size: 2.5rem;
  margin: 0;
}
main .family hgroup h4 {
  font-family: "S-CoreDream-3Light";
  color: #8E8E8E;
  font-size: 1.3rem;
  margin: 0;
}
main .family .revi-btn {
  margin-top: 25px;
  text-align: center;
}
main .family .revi-btn a {
  font-family: "S-CoreDream-3Light";
  color: #8E8E8E;
  font-size: 1.2rem;
}
main .family .revi-btn a::after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f054";
  margin: 0;
  padding-left: 20px;
}
main .family .fa-review {
  margin-top: 70px;
}
main .family .fa-review ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
}
main .family .fa-review ul li {
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFDD85;
}
main .family .fa-review ul li p {
  width: 100%;
  height: 30vh;
  /* vw로 사용하세요 브라우저크기라 잘 생각해서! */
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  overflow: hidden;
}
main .family .fa-review ul li p img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}
main .family .fa-review ul li .li-txt p {
  font-family: "S-CoreDream-4Regular";
  display: inline;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
main .missing {
  margin-top: 250px;
  padding: 100px;
  background: url("../img/vanner/cat_dog 2.png") 0% 100%/50% no-repeat;
  background-color: #FFF3DB;
}
main .missing .mi-btn a {
  font-family: "S-CoreDream-5Medium";
  color: #444;
  font-size: 2rem;
}
main .missing .mi-btn a::after {
  font-family: "FontAwesome";
  content: "+";
  margin: 0;
  padding-left: 20px;
  color: #FC9803;
}
main .missing .mibox {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .missing .mibox .miss-txt {
  width: 30%;
}
main .missing .mibox .miss-txt h2 {
  display: inline-block;
  text-align: center;
  font-family: "UhBeeZZIBA-Regular";
  white-space: pre-line;
  font-size: 3.5rem;
  color: #935F10;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
main .missing .mibox .miss-txt h2 span {
  font-size: 3.5rem;
  color: #351600;
  font-weight: bold;
}
main .missing .mibox ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
main .missing .mibox ul li {
  width: 30%;
  background-color: #fff;
  border-radius: 5%;
}
main .missing .mibox ul li p {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
  border-radius: 5%;
}
main .missing .mibox ul li p img {
  width: 100%;
  vertical-align: top;
}
main .missing .mibox ul li .mi-txt {
  padding: 20px 10px;
}
main .missing .mibox ul li .mi-txt h4 {
  font-family: "S-CoreDream-5Medium";
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
main .missing .mibox ul li .mi-txt p {
  font-family: "S-CoreDream-3Light";
  text-align: center;
  font-size: 1.1rem;
  padding-top: 5px;
}
main .missing .mibox ul li .mi-txt p:nth-last-of-type(1) {
  padding-bottom: 20px;
}/*# sourceMappingURL=index.css.map */