@import "_common";


main {
    margin: 100px auto;

    .slide {
        ul {
            li {
                position: relative;
                width: 100%;

                p {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    background-color: rgba(0, 0, 0, 0.8);
                    vertical-align: top;

                    img {
                        width: 100%;
                        opacity: 0.6;
                        vertical-align: top;
                    }
                }

                .slide-txt {
                    position: absolute;
                    left: 40%;
                    top: 30%;
                    text-align: center;

                    h2 {
                        font-family: 'S-CoreDream-5Medium';
                        font-size: 2rem;
                        white-space: pre-line;
                    }

                    a {
                        font-family: 'S-CoreDream-3Light';
                        font-size: 1.5rem;
                        color: $font-colorg3;

                        &::before {
                            content: '';
                            display: block;
                            width: 40%;
                            margin: 0 auto;
                            border-top: 1px solid $font-colorg3;
                            padding-top: 10px;
                        }

                        &::after {
                            display: inline-block;
                            font-family: "FontAwesome";
                            content: "\f054";
                            margin: 0;
                            padding-left: 20px;
                        }

                    }
                }
            }
        }
    }

    .adopt{
        margin: $cushion200;
    }

    .find {
        background-color: $font-Y5;
        text-align: center;

        .find-txt {
            h2 {
                font-family: 'S-CoreDream-6Bold';
                padding: 0;
                margin: 0px;
                color: $font-Y1;
                font-size: 2.5rem;
            }

            p {
                font-family: 'S-CoreDream-4Regular';
                padding: 0;
                margin: 0;
                margin-top: 10px;
                color: $Brown;
                font-size: 1.3rem;

                &::before {
                    content: '';
                    display: block;
                    width: 5%;
                    margin: 0 auto;
                    border-top: 1px solid $Brown;
                    padding-top: 10px;
                }
            }

            
            
        }


        .dog-find {
            width: $pagrWidth;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: $pageMargin;
            margin-top: $cushion100;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: flex-start;
                align-content: center;

                li {
                    width: 30%;
                    border-radius: 20px;
                    overflow: hidden;
                    background-color: $font-Y3;

                    p {
                        width: 100%;
                        height: 30vh;
                        /* vw로 사용하세요 브라우저크기라 잘 생각해서! */
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            vertical-align: top;
                        }
                    }
                .li-txt{
                    p{
                        font-family: 'S-CoreDream-4Regular';
                        font-size: 1.5rem;
                    }
                }
                }
            }
            .findA-txt{
                h3{
                    font-family: 'S-CoreDream-3Light';
                    font-size: 2.15rem;
                    white-space: $pre;
                    text-align: right;
                    color: $font-colorg1;
                    span{
                        font-family: 'S-CoreDream-5Medium';
                        font-size: 2.3rem;
                        padding-right: 5px;
                        color: $Brown;
                    }
                }
                a{
                    display: inline-block;
                    font-family: 'S-CoreDream-6Bold';
                    font-size: 1.75rem;
                    text-align: right;
                    color: $font-colorg1;

                    &::after{
                        font-family: "FontAwesome";
                        content: "\2b";
                        margin: 0;
                        padding-left: 20px;
                        color: $font-Y1;
                    }
                }
            }
        }
        
        .cat-find{
            margin-top: $cushion70;
            width: $pagrWidth;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: $pageMargin;
            .findB-txt{
                h3{
                    font-family: 'S-CoreDream-3Light';
                    font-size: 2.15rem;
                    white-space: $pre;
                    text-align: left;
                    color: $font-colorg1;
                    span{
                        font-family: 'S-CoreDream-5Medium';
                        font-size: 2.3rem;
                        padding-right: 5px;
                        color: $Brown;
                    }
                }
                a{
                    display: inline-block;
                    font-family: 'S-CoreDream-6Bold';
                    font-size: 1.75rem;
                    text-align: left;
                    color: $font-colorg1;

                    &::after{
                        font-family: "FontAwesome";
                        content: "\2b";
                        margin: 0;
                        padding-left: 20px;
                        color: $font-Y1;
                    }
                }
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: flex-start;
                align-content: center;

                li {
                    width: 30%;
                    border-radius: 20px;
                    overflow: hidden;
                    background-color: $font-Y3;

                    p {
                        width: 100%;
                        height: 30vh;
                        /* vw로 사용하세요 브라우저크기라 잘 생각해서! */
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            vertical-align: top;
                        }
                    }
                .li-txt{
                    p{
                        font-family: 'S-CoreDream-4Regular';
                        font-size: 1.5rem;
                    }
                }
                }
            }
        }
    }

    .family{
        margin-top: 150px;
        hgroup{
            text-align: center;
            h2{
                font-family: 'S-CoreDream-6Bold';
                color: $font-Y1;
                font-size: 2.5rem;
                margin: 0;
            }
            h4{
                font-family: 'S-CoreDream-3Light';
                color:$font-colorg2;
                font-size: 1.3rem;
                margin: 0;
            }
        }
        .revi-btn{
            margin-top: $cushion25;
            text-align: center;
            a{
                font-family: 'S-CoreDream-3Light';
                color:$font-colorg2;
                font-size: 1.2rem;

                &::after{
                    display: inline-block;
                            font-family: "FontAwesome";
                            content: "\f054";
                            margin: 0;
                            padding-left: 20px;
                }
            }
        }

        .fa-review{
            margin-top: $cushion70;
            
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: flex-start;
                align-content: center;

                li{
                    width: 30%;
                    border-radius: 20px;
                    overflow: hidden;
                    background-color: $font-Y3;
                    p{
                        width: 100%;
                        height: 30vh;
                        /* vw로 사용하세요 브라우저크기라 잘 생각해서! */
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            vertical-align: top;
                        }
                    }
                    .li-txt{
                        p{
                            font-family: 'S-CoreDream-4Regular';
                            display: inline;
                            font-size: 1.5rem;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .missing{
        margin-top: $cushion250;
        padding: $cushion100;
        background: url('../img/vanner/cat_dog\ 2.png') 0% 100% /50% no-repeat;
        background-color: $font-Y5;
        .mi-btn{
            a{
                font-family: 'S-CoreDream-5Medium';
                color: $font-colorg1;
                font-size: 2rem;
                
                &::after{
                    font-family: "FontAwesome";
                        content: "\2b";
                        margin: 0;
                        padding-left: 20px;
                        color: $font-Y1;
                }
            }
        }

        .mibox{
            margin: 0 auto;
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .miss-txt{
                width: 30%;
                h2{
                    display: inline-block;
                    text-align: center;
                    font-family: 'UhBeeZZIBA-Regular';
                    white-space: $pre;
                    font-size: 3.5rem;
                    color: #935F10;
                    font-weight: 300;
                    margin: 0;
                    padding: 0;
                    span{
                        font-size: 3.5rem;
                        color:#351600;
                        font-weight: bold;
                    }
                }
            }

            ul{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                li{
                    width: 30%;
                    background-color: #fff;
                    border-radius: 5%;
                    p{
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        vertical-align: top;
                        border-radius: 5%;
                        img{
                            width: 100%;
                            vertical-align: top;

                    }}

                    .mi-txt{
                        padding: 20px 10px;
                        h4{
                            font-family: 'S-CoreDream-5Medium';
                            text-align: center;
                            font-size: 1.5rem;
                            margin: 0;
                            padding: 0;
                            margin-bottom: 10px;

                        }
                        p{
                            font-family: 'S-CoreDream-3Light';
                            text-align: center;
                            font-size: 1.1rem;
                            padding-top: 5px;

                            &:nth-last-of-type(1){
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }

        }

        .mi-sub-btn{
            a{}
        }
    }
}